<%= render 'shared/flashes' %>

<div class="landing-banner">
</div>
<div class="newsletter">
  <div class="row" style="display: flex; justify-content: center;">
    <div class="newsletter-title">
      <h1 style="letter-spacing: 3px;"><strong>SIGN UP FOR WEEKLY MOTIVATIONAL EMAILS!</strong></h1>
    </div>
  </div>
  <div class="container">
    <div class="row" style="display: flex; justify-content: center;">
      <form class="form-inline" style="display: flex; justify-content: center;" action="/" data-remote="true" method="post">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
        <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
        <button type="submit" class="btn btn-light">Sign up</button>
      </form>
    </div>
  </div>
</div>
<div class="container" style="text-align: center !important;">
  <div class="banner-quote">
    <p>“Our deepest fear is not that we are inadequate, but that we are powerful beyond measure.”</p>
  </div>
  <div class="stamp-underline">
    <div class="stamp"></div>
  </div>
</div>
<div class="container">
  <div class="row" style="margin-bottom: 50px;">
    <div class="landing-description col-lg-4 col-md-4 col-sm-12" id="landing-card1">
      <div class="landing-card1" style="text-align: center;"></div>
      <div class="title">
        <h1 style="letter-spacing: 3px;"><strong>YOGA & FITNESS</strong></h1>
      </div>
      <p>The way we shape our bodies is how we shape our lives. A consistent yoga practice gives us the gift of slowing down in order to align our body, mind, and breath. As a spiritual practice, it constantly brings us back to our truth. There are SO many ways to move and sweat. Fitness can be whatever style of movement YOU enjoy. Getting out of your comfort zone on a weekly basis not only reduces the size of your waistline, but also gives you the tools to face life's’ obstacles head on when they come your way.</p>
      <%= link_to yoga_path do %>
        <p><button style="bottom: 20; position: relative;" type="submit" class="btn btn-dark mb-2">LEARN MORE</button></p>
      <% end %>
    </div>
    <div class="landing-description2 col-lg-4 col-md-4 col-sm-12" id="landing-card2">
      <div class="landing-card2" style="text-align: center;"></div>
      <div class="title">
        <h1 style="letter-spacing: 3px;"><strong>HEALTH COACH</strong></h1>
      </div>
      <p>A health coach empowers individuals to prioritize the aspects of your health and wellbeing that have put on the backburner for far too long. Whether it’s developing a new habit, changing your relationship to food, confronting limiting beliefs, or transitioning to a mostly plant-based lifestyle, having a professional accountability coach can go a long way.</p>
      <%= link_to health_path do %>
        <p><button style="bottom: 20; position: relative;" type="submit" class="btn btn-dark mb-2">LEARN MORE</button></p>
      <% end %>
    </div>
    <div class="landing-description2 col-lg-4 col-md-4 col-sm-12" id="landing-card3">
      <div class="landing-card3" style="text-align: center;"></div>
      <div class="title">
        <h1 style="letter-spacing: 3px;"><strong>BIRTHING DOULA</strong></h1>
      </div>
      <p>Labor and delivery is the most magical, yet challenging time in a woman’s life. A birthing doula provides encouragement and options during and shortly after labor. It is my job to make the journey as positive, comfortable, and empowering as possible so that the mother feels supported in every way.</p>
      <p><button style="bottom: 20; position: relative;" type="submit" class="btn btn-dark mb-2">COMING SOON</button></p>
      
    </div>
  </div>
  <div class="row" style="margin-bottom: 50px; display: flex; justify-content: center;">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>~OR~</strong></h1>
    </div>
  </div>
  <div class="container" style="display: flex; justify-content: center; margin-bottom: 50px;">
    <%= link_to connect_path do %>
      <button style="bottom: 20; position: relative;" type="submit" class="btn btn-dark mb-2">SCHEDULE FREE CONSULTATION!</button>
    <% end %>
  </div>
  <div class="stamp-underline">
    <div class="stamp"></div>
  </div>
  <div class="landing-description">
    <div class="title" style="margin-bottom: 100px;">
      <h1 style="letter-spacing: 3px;"><strong>WHAT I'M ABOUT</strong></h1>
    </div>
  </div>
</div>
<div class="landing-banner">
</div>
<div class="container">
  <div class="row">
    <div class="landing-description-btn col-lg-12 col-md-12 col-sm-12">
      <%= link_to about_path do %>
        <button type="submit" class="btn btn-dark mb-2">LEARN MORE</button>
      <% end %>
    </div>
    <div class="banner-quote">
      <p style="margin-top: 50px; ">“Do not be impatient with your seemingly slow progress. Do not try to run faster than you presently can. If you are studying, reflecting and trying, you are making progress whether you are aware of it or not. A traveler walking the road in the darkness of night is still going forward. Someday, someway, everything will break open, like the natural unfolding of a rosebud.” <strong>- Vernon Howard</strong></p>
    </div>
  </div>
  <div class="stamp-underline">
    <div class="stamp"></div>
  </div>
  <div class="landing-description">
    <div class="title">
      <h1 style="letter-spacing: 3px;"><strong>TESTIMONIALS</strong></h1>
    </div>
  </div>
</div>

<div class="testimonials-banner">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
            <div class="testimonial-photo-abby" style="text-align: center;"></div>
          </div>
          <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
            “Eileen is my favorite yoga teacher I’ve ever had.  I always look forward to her calming voice speaking words of wisdom to begin the class  to allow the mind and body to settle and be ready to focus on the practice ahead. She teaches you how to properly do each pose and knows how to push you just a little bit out of your comfort zone to continue to challenge yourself.   Her kind and caring nature shines through her teaching. Eileen, you are an amazing human with a great gift for teaching! I couldn’t speak highly enough to all of my friends and family, and you were brand new! I know you’ll go far with this and can see your passion in it :) you and your classes helped me through one of the worst times of my life, without your calmness I couldn’t have survived that fall. Thank you , thank you , thank you!!” <strong>- Abby Slavin</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
            <div class="testimonial-photo-brian" style="text-align: center;"></div>
          </div>
          <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
            “I started practicing yoga with a small group of YouTube yoga teachers and first met Eileen when I decided to end my purely solo yoga-experience and try out a public class. Eileen was both patient and welcoming, which has made her weekend group classes something I look forward to attending. I also ended up scheduling some one-on-one sessions to address my concerns that my solo-with-YouTube-time had helped me habituate bad habits that I wanted to identify and address. The one-on-one sessions were a great opportunity to ask specific questions about poses, breathing, and philosophy without feeling like I was disrupting a group and to focus specifically on areas that I was interested in. It’s been refreshing to practice yoga with someone who is at once full of practical knowledge, positive energy and has a willingness to share both. Highly recommended!” <strong>- Brian Elliot</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="landing-description col-lg-4 col-md-4 col-sm-12" style="margin-top: 0px;">
            <div class="testimonial-photo-vicky" style="text-align: center;"></div>
          </div>
          <div class="landing-description col-lg-8 col-md-8 col-sm-12" style="margin-top: 0px;">
            “Eileen is a very compassionate and intuitive coach. She is committed to my health journey and doesn’t give up on me – even when I might want to give up on myself. Together we continue to explore what works. Eileen shares with me valuable resources and inspirational messages that keep me going!” <strong>- Vicky Wegman</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="background-image: linear-gradient(135deg, #3E0000 0%, #7C0000 100%);">
      <div class="newsletter" style="background-image: none !important;">
        <div class="row" style="display: flex; justify-content: center;">
          <div class="newsletter-title">
            <p style="letter-spacing: 3px;"><strong>SIGN UP FOR WEEKLY MOTIVATIONAL EMAILS!</strong></p>
          </div>
          <div class="pop-up-picture" style="text-align: center;"></div>
        </div>
        <div class="container">
          <div class="row" style="display: flex; justify-content: center;">
            <form class="form-inline" style="display: flex; justify-content: center;" action="/" data-remote="true" method="post">
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
              <input type="name" class="form-control" id="name" placeholder="Enter name" name="name">
              <button type="submit" class="btn btn-light" style="background-color: white !important; color: black !important;">Sign up</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  console.log("modal function");
  var first = document.getElementById('landing-card1').style.height;
  var second = document.getElementById('landing-card2');
  var third = document.getElementById('landing-card3');

  console.log(first);

  second.style.height = first;
  third.style.height = first;


  $(document).ready(function() {
    $('#myModal').clearQueue();
    setTimeout(function() {
      console.log("hello");
      $('#myModal').modal('show');
    }, 1000); // milliseconds
  });
</script>

