<!DOCTYPE html>
<html>
  <head>
    <title>LivinBliss - personalized training from Mountain View, California.</title>
    <meta property="og:title" content="LivinBliss - personalized training from Mountain View, California.">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Yoga, fitness, and birth coaching.">
    <!-- <meta property="og:image" content="https://fitness-app-final.herokuapp.com/assets/meta_background-41b523b0252f34667e0bd3c4da2315161fa62482bc77e23a87e2aa349712ba52.png"> -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Orbitron">

  </head>

  <body>
    <%= render 'shared/navbar' %>

    <%= yield %>

    <div class="container">
      <div class="instagram-footer">
        <div class="title">
          <h1><strong>FOLLOW ME ON INSTAGRAM</strong></h1>
        </div>
      </div>
      <div class="row" style="margin-bottom: 100px !important;">
        <div class="text-center col-lg-3 col-md-3 col-sm-12">
          <a href="https://www.instagram.com/p/BlCUCZSg-m4/?taken-by=livein_bliss">
            <div class="insta-card">
            </div>
          </a>
        </div>
        <div class="text-center col-lg-3 col-md-3 col-sm-12">
          <a href="https://www.instagram.com/p/BmD9kNegLeQ/?taken-by=livein_bliss">
            <div class="insta-card2">
            </div>
          </a>
        </div>
        <div class="text-center col-lg-3 col-md-3 col-sm-12">
          <a href="https://www.instagram.com/p/BlouPgngOjH/?taken-by=livein_bliss">
            <div class="insta-card3">
            </div>
          </a>
        </div>
        <div class="text-center col-lg-3 col-md-3 col-sm-12">
          <a href="https://www.instagram.com/p/BeG_uWuhCa4/?taken-by=livein_bliss">
            <div class="insta-card4">
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);">
          <div class="newsletter" style="background-image: none !important;">
            <div class="row" style="display: flex; justify-content: center;">
              <div class="newsletter-title">
                <p style="letter-spacing: 3px;"><strong>SIGN UP FOR MOTIVATIONAL EMAILS!</strong></p>
              </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="email1" class="sr-only">email@example.com</label>
                  <input type="email" class="form-control" id="inputPassword2" placeholder="email@example.com">
                </div>
                <button type="submit" class="btn btn-light mb-2">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="lgModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);">
          <div class="newsletter" style="background-image: none !important;">
            <div class="row" style="display: flex; justify-content: center;">
              <div class="newsletter-title">
                <p><strong>SIGN UP FOR MOTIVATIONAL EMAILS!</strong></p>
              </div>
            </div>
            <div class="row" style="display: flex; justify-content: center;">
              <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                  <label for="email1" class="sr-only">email@example.com</label>
                  <input type="email" class="form-control" id="inputPassword2" placeholder="email@example.com">
                </div>
                <button type="submit" class="btn btn-light mb-2">Sign up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="footer">

      <div class="footer-links">
        <a href="https://www.instagram.com/livein_bliss/"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function() {
          setTimeout(function() {
            console.log("hello");
            $('#myModal').modal('show');
          }, 10000); // milliseconds
      });
    </script>
  </body>
</html>
